<div class="wrapper">
    <footer class="container">
        <a href="https://www.cofoundry.org">
            <img src="/assets/cofoundry-logo.png"
                 class="cofoundry-logo"
                 alt="Cofoundry logo" />
        </a>
        <p>
            This sample is built using <a href="https://www.cofoundry.org">Cofoundry</a>, an open source .NET Core CMS.
        </p>
    </footer>
</div>

