.wrapper {
    margin: 2rem 0;
    flex-grow: 1;
}

.content {
    background-color: #fff;
    padding: 1rem;
    margin: 1rem;
    border-radius: 3px;
}

@media (min-width: 768px)
{
    .content {
        max-width: var(--layout-max-width);
        margin: 0 auto;
    }
}

*:first-child {
    margin-top: 0;
}
