<button type="submit" @attributes="AdditionalAttributes" class="btn @AdditionalAttributes?.GetValueOrDefault("class")">@ChildContent</button>
@code {
    [Parameter, EditorRequired]
    public required RenderFragment ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
